

<mat-card *ngIf="book">
  <mat-card>
    <span >{{id}}-{{ title }}</span>
  <!-- <mat-card-title-group>
    <img mat-card-sm-image *ngIf="thumbnail" src="http://image.tmdb.org/t/p/w185{{thumbnail}}"/>
    <mat-card-title>{{ title | ellipsis:35 }}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{ subtitle | ellipsis:45 }}</mat-card-subtitle>
    
  </mat-card-title-group> -->
  <mat-card-content>
    <p *ngIf="description">{{ description }}</p>
  </mat-card-content>
  <mat-card-footer>
      <mat-icon [matBadge]="votecount" matBadgeColor="warn">home</mat-icon>
    <!-- <bc-book-authors [book]="book"></bc-book-authors> -->
  </mat-card-footer>
</mat-card>
  
</mat-card>

